<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="auteurs">Auteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="livres">Livres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="formulaireAuteur">Formulaire auteur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="formulaireLivre">Formulaire livre</a>
      </li>
    </ul>
  </div>

</nav>
