
<nav class="navbar navbar-expand-sm navbar-dark menu">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="auteurs">Auteurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link test" routerLink="livres">Livres</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
