<div class="container mt-3">
  <h2>Auteurs</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Age</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auteur of auteursService.getAuteurs()">
      <td>{{auteur.getPrenom()}}</td>
      <td>{{auteur.getNom()}}</td>
      <td>{{auteur.getAge()}}</td>
      <td>
        <button><i class="far fa-edit" (click)="onModify(auteur)"></i></button>
      </td>
      <td>
        <button><i class="far fa-trash-alt" (click)="onDelete(auteur.getAuteurId())"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Ajouter un auteur
  </button>
</div>





<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un auteur</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="auteurForm">
          <div class="mb-3 mt-3">
            <label class="form-label">Nom :</label>
            <input type="lastname" formControlName="nom" class="form-control" id="nom" placeholder="Nom de l'auteur..."
                   name="lastname">
          </div>
          <div class="mb-3">
            <label class="form-label">Prénom :</label>
            <input type="name" formControlName="prenom" class="form-control" id="prenom" placeholder="Prénom de l'auteur"
                   name="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Age :</label>
            <input type="number" formControlName="age" class="form-control" id="age" placeholder="Age de l'auteur" name="year">
          </div>

        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="Valider" class="btn btn-primary" (click)="onValider()">Créer</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>
