<div class="container mt-3">
  <h2>Livres</h2>

  <table class="table">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Genre</th>
      <th>Resume</th>
      <th>Auteur</th>
      <th>Date de parution</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let livres of livresService.getLivres() ">
      <td>{{livres.getTitre()}}</td>
      <td>{{livres.getGenre()}}</td>
      <td>{{livres.getResume()}}</td>
      <td>{{livres.getAuteur()}}</td>
      <td>{{livres.getParution()}}</td>
      <td>
        <button><i class="far fa-edit" (click)="onModify(livres)"></i></button>
      </td>
      <td>
        <button><i class="far fa-trash-alt" (click)="onDelete(livres.getLivreId())"></i></button>
      </td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Ajouter un livre
  </button>
</div>




<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un livre</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="livresForm">
          <div class="mb-3 mt-3">
            <label class="form-label">Titre:</label>
            <input type="text" formControlName="titre" class="form-control" id="titre" placeholder="Titre du livre..."
                   name="titre">
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label">Genre:</label>
            <input type="text" formControlName="genre" class="form-control" id="genre" placeholder="Genre du livre..."
                   name="genre">
          </div>
          <div class="mb-3">
            <label class="form-label">Auteur :</label>
            <input type="text" formControlName="auteur" class="form-control" id="auteur"
                   placeholder="Auteur du livre..." name="auteur">
          </div>
          <!--  <div formArrayName="numbers">-->
          <!--    &lt;!&ndash; iterate the array of phone numbers &ndash;&gt;-->
          <!--    <div *ngFor="let number of userForm.controls.numbers.controls; let i = index" >-->
          <!--      <label>PhoneNumber {{i+1}} </label>-->
          <!--      <input formControlName="{{i}}" />-->
          <!--    </div>-->
          <!--  </div>-->
          <div class="mb-3">
            <label class="form-label">Date de publication :</label>
            <input type="date" formControlName="dateParution" class="form-control" id="dateParution"
                   placeholder="Date de publication..." name="dateParution">
          </div>
          <div class="mb-3 mt-3">
            <label for="resume">Résumé histoire (4ème couverture) :</label>
            <textarea class="form-control" formControlName="resume" rows="5" id="resume" name="text"
                      placeholder="Synthèse du livre..."></textarea>
          </div>


        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="Valider" class="btn btn-primary" (click)="onValider()">Créer</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>
